<!DOCTYPE html>
<html>
<head><title>Registrar</title></head>
<body>
    <h2>Registrar</h2>
    <form method="POST" action="{{ url_for('register') }}">
        <input type="text" name="username" placeholder="Nome de usuário" required />
        <input type="email" name="email" placeholder="Email" required />
        <input type="password" name="password" placeholder="Senha" required />
        <button type="submit">Registrar</button>
      </form>
      
    <p>Já tem conta? <a href="{{ url_for('login') }}">Entrar</a></p>
<script type="python">
    
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
</script>
</body>
</html>
